body{
	background-image: url('background1.jpg');
	background-position: center;
	background-size:  cover; /*agar menutupi semua halaman*/
	background-repeat: no-repeat; /*agar tidak berulang*/
}
#section1 , #section2 , #section3 , #section4 , #section5 , #section6 {
 width: 100%;
 height: 603px;
}
.kiri, .kanan{
	width: 49%;
	height: 600px;
	float: left;
}
#kontenkiri{
	width: 70%;
	height: 500px;
	margin-left: 100px;
	margin-top: 70px;
}
#kontenkanan{
	width: 50%;
	height: 250px;
	margin-left: 100px;
	margin-top: 180px;
	color: white;
}
#komputer{
	width: 100%;
	position: center;
}
a:link{
	color: white;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	border: 2px solid green;
}
a:visited{
	color: white;
	border: 2px solid green;
}
h1{
	font-family: roboto;
	font-size: 40px;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}
#logo{
	width: 50px;
	float: left;
}
#tulisan{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	padding-top: 30px;
	clear: both;
	color: white;
}

